In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("2022 predictions/prediction_results_adjusted.csv")
df.head()

,Unnamed: 0,first_last_party,Cand_Office_St,Cand_Office,party,crpico,raised_from_pacs,raised_from_individuals,raised_total,raised_unitemized,preds
0,0,"AGUAYO, DENNIS W. 'DENNY'",AK,House,3,O,0.00,0.00,0.00,0.00,L
1,1,"ARMSTRONG, JAY R",AK,House,R,O,0.00,0.00,0.00,0.00,L
2,2,"BEAL, BRIAN T.",AK,House,3,O,0.00,0.00,0.00,0.00,L
3,3,"BECK, TIM",AK,House,3,O,0.00,0.00,0.00,0.00,L
4,4,"BEGICH, NICHOLAS III",AK,House,R,C,38313.67,637899.67,676925.52,712.18,L

In [9]:
states_raised_totals = df.groupby("Cand_Office_St")['raised_total'].sum()
states_raised_totals = pd.DataFrame(states_raised_totals).reset_index()
states_raised_totals = states_raised_totals.rename(columns={"Cand_Office_St": "State", "raised_total": "Total"})
states_raised_totals

   State         Total
0     AK  1.379261e+07
1     AL  2.350220e+07
2     AR  1.289565e+07
3     AS  3.630000e+04
4     AZ  8.571444e+07
5     CA  1.999285e+08
6     CO  3.769381e+07
7     CT  1.485775e+07
8     DC  2.488867e+05
9     DE  2.141255e+06
10    FL  1.467318e+08
11    GA  1.643374e+08
12    GU  1.209917e+05
13    HI  3.681034e+06
14    IA  3.454264e+07
15    ID  4.807280e+06
16    IL  6.401674e+07
17    IN  2.163603e+07
18    KS  1.361364e+07
19    KY  3.262661e+07
20    LA  3.685160e+07
21    MA  1.293403e+07
22    MD  2.049206e+07
23    ME  6.650714e+06
24    MI  4.225406e+07
25    MN  2.598307e+07
26    MO  3.532385e+07
27    MP  1.741247e+04
28    MS  5.528514e+06
29    MT  8.828328e+06
30    NC  6.846207e+07
31    ND  3.179008e+06
32    NE  8.002580e+06
33    NH  3.419012e+07
34    NJ  4.126063e+07
35    NM  9.932207e+06
36    NV  4.961537e+07
37    NY  1.257649e+08
38    OH  8.735979e+07
39    OK  1.929642e+07
40    OR  2.613839e+07
41    PA  9.960800e+07
42    PR  0.000000e+00
43    RI  6.167936e+06
44    SC  5.032495e+07
45    SD  7.628145e+06
46    TN  1.269759e+07
47    TX  8.988596e+07
48    US  0.000000e+00
49    UT  1.744516e+07
50    VA  3.129353e+07
51    VI  8.574286e+05
52    VT  5.931124e+06
53    WA  4.855532e+07
54    WI  4.444533e+07
55    WV  4.108004e+06
56    WY  1.892100e+07

In [10]:
states_raised_totals.to_csv("2022 predictions/states_raised_totals.csv")